<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>ba.etf.nsi.servlets.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/projects</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>ba.etf.nsi.servlets.ResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/resources</url-pattern>
  </servlet-mapping>
  <display-name>ProjectPlanning</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:postgresql://162.219.6.176:5432/nsi2013</param-value>
  </context-param>
  <context-param>
    <param-name>dbUserName</param-name>
    <param-value>almin</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>post12gres90</param-value>
  </context-param>
  <listener>
    <listener-class>ba.etf.nsi.servlets.ContextListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
    </jsp-property-group>
  </jsp-config>
</web-app>